<h1>Home#index</h1>

<p>url: <%= @url %></p>
<p>ip: <%= @ip %></p>
<p>ip: <%= @agent %></p>

<app inline-template></app>

<!-- <div id="app" :message="<%= @ip.to_json %>">
     <div value="<%= @ip %>">
     </div>
     </div> -->
